 <header class="p-3 bg-dark text-white">
        <div class="row align-items-center">
            <div class="col">
                <h3>TechInsights</h3>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end gap-4">
                    <a class="text-light text-decoration-none" href="{% url 'blog:index' %}">Home</a>
                    <a class="text-light text-decoration-none" href="{% url 'blog:about' %}">About</a>
                    <a class="text-light text-decoration-none" href="{% url 'blog:contact' %}">Contact</a>
                </div>
            </div>
        </div>
    </header>